<h2>This here is client/server one</h2>

<h4>Got response: {{model}}</h4>

<button {{action 'askParent'}}>Communicate with parent with success</button>
<button {{action 'askParentFail'}}>Communicate with parent with fail</button>
