<h2>This here is client/server one</h2>

<h4>Got response: {{this.model}}</h4>

<button type="button" {{on "click" this.askParent}}>Communicate with parent with success</button>
<button type="button" {{on "click" this.askParentFail}}>Communicate with parent with fail</button>